<h1>{{name}}</h1>
<div>
    <p>Capital:{{capital}}</p>
    <p>Population:{{population}}</p>
    <p>Languages:</p>
    <ul>
        {{#each languages}}
        <li>{{name}}</li>
        {{/each}}
    </ul>

</div>
<div>
    <img src="{{flag}}" alt="{{flag}}" />
</div>